@font-face {
  font-display: fallback;
  font-family: GT-America;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/GT-America/Regular.otf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: GT-America;
  font-style: normal;
  font-weight: 450;
  src: url("../assets/fonts/GT-America/Extended-Regular.otf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: GT-America;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/GT-America/Standard-Medium.ttf") format("truetype");
}
