node_modules/
.DS_Store
Thumbs.db
.next/
dist/
*.tsbuildinfo

.idea

yarn-error.log

.env
.env.production
.env.development
.env.local

./out
.next
.open-next

# Sentry
.sentryclirc

# Sentry
next.config.original.js
